$primary-color:  #fff;
$secondary-color: #ff6f3c;
$text-color: #000000;
$bg-color: #f8f8f8;

$font-main: "Miller Banner", Georgia, serif;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
